#div_id_password{
    display: none;
}

.initial-upper-notice{
    color: green;
    font-weight: bold;
}

.invalid_file_format::after{
    color: red;
    content: "Invalid file format. Supported format: jpeg, png, gif";
}

.invalid_file_size::after{
    color: red;
    content: "File size cannot be greater than 2Mb";
}

.file_attention{
    border-color: blue;
    border-style: dotted;
    border-width: thin;
}