{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block css %}
               <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
{% endblock %}
{% block content %}

	<div class="container p-3">
		{% csrf_token %}
  	 	<h2 class="font-weight-bold mt-4">About this <span onclick="show_my_number();">game</span></h2>
		<hr>
		<p>Welcome to Bulls and Cows game! It's a slightly modified version of the classical variant of Bulls and Cows.
			The rules are very simple:one of participants thinks of
			a number which consists of non-repeatable digits, and the second participant tries
			to guess the number proposing variants. The first gamer compares the original number
			and the proposed one and reports to the second gamer two values:
			the overall amount of the coincident digits (Cows) and the amount of the coincident digits
			which have the right position (Bulls).</p>
		<p>

			In settings you can choose Dual game i.e. I will think of a number for you and you will try to guess it
			and at the same time you will think of your number for me and I will try guess it:
			<div class="card mx-auto" >
			<img class="img-fluid mb-2" width="30%" height="30%" src="/static/about_picture_0.png">
			</div>
		</p>
		<p>
			Or Single game so that I will be trying to guess your number only. It's less interesting,
			but I can impress you how quick I can find your number :)
		<div class="card mx-auto" >
			<img class="img-fluid mb-2" width="30%" height="30%" src="/static/about_picture_1.png">
		</div>
		</p>
		<p>
			Also in settings you are able to choose the amount of digits in my and your numbers. Usually it's 4,
			but you can experiment with other amount.
		</p>
		<p>Also you can look at the fixture list where history of results of other games is stored.</p>
		<p>Please read more about the game rules and other stuff at the following link:
			<a href="https://en.wikipedia.org/wiki/Bulls_and_Cows">Bulls and cows</a>
		</p>
		<br>
		<p>Good luck!</p>
  	</div>
<div class="center">
	<div class="container">
		<p class="text-center">Copyright &copy; 2022 Bulls and Cows game by Eugene Dolgov</p>
	</div>
</div>
{% endblock %}
{% block scripts %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'about.js' %}"></script>
{% endblock %}

