{% extends 'base.html' %}

{% load static %}

{% block title %}
	Home
{% endblock %} 

{% block content %}
<div class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="card mb-5">{{ upper_poster }}</div>
      </div>
    </div>
    <form action="#" method="post">
    {% csrf_token %}
      <div class="row">
        <div class="col-lg-6 text-center">
          <div class="card mb-5">My part</div>
          <div class="card mb-5">I guess your number is:{{ game.my_guess }}
            <div>Enter the number of cows:  <input type="text" name="my_cows_" autofocus maxlength="10" required id="id_my_cows"></div>
            <div>Enter the number of bulls: <input type="text" name="my_bulls_" autofocus maxlength="10" required id="id_my_bulls"></div>
          </div>
        </div>
        <div class="col-lg-6 text-center">
          <div class="card mb-5">Your part</div>
          <div class="card mb-5">Enter your guess of my number:  <input type="text" name="your_guess" autofocus maxlength="10" required id="id_your_guess">
            <div>You have found qty of cows: {{ game.your_cows}}</div>
            <div>You have found qty of bulls: {{ game.your_bulls }}</div>
          </div>
        </div>
      </div> 

      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="card">
            <button type="submit">
              {% if game.attempts == 0 %} Start a game!
              {% else %} Ok!
              {% endif %}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
