{% extends 'base.html' %}

{% load static %}

{% block title %}
	Home
{% endblock %} 

{% block content %}
<div class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="card mb-5">{{ game.upper_poster }}</div>
      </div>
    </div>
    <form action="{% if game.dual_game %}
                   {% url 'dualgame' %}
                   {% else %}
                   {% url 'singlegame' %}
                   {% endif %}" method="post">
    {% csrf_token %}
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="card">
            <button type="submit">
              {% if game.attempts == 0 %} Start a game!
              {% else %} Ok!
              {% endif %}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}