{% extends 'base.html' %}

{% load static %}

{% block title %}
	Home
{% endblock %} 

{% block content %}
<div class="py-4">
<div class="container">
<div class="row">
  <div class="col-lg-12 text-center">
  <div class="card mb-5">Please think of a number with {{ game.capacity }} unique digits!</div>
  </div>
  </div>

  <div class="row">
  <div class="col-lg-6 text-center">
    <div class="card mb-5">My part</div>
    <div class="card mb-5">I guess your number is: {{ game.my_guess }}
      <div>
        Enter the number of cows: {{ game.my_cows}}
      </div>
      <div>
        Enter the number of bulls: {{ game.my_bulls }}
      </div>
    </div>
    </div>
  <div class="col-lg-6 text-center">
    <div class="card mb-5">Your part</div>
      <div class="card mb-5">I guess your number is: {{ game.your_guess }}
      <div>
        Enter the number of cows: {{ game.your_cows}}
      </div>
      <div>
        Enter the number of bulls: {{ game.your_bulls }}
      </div>
    </div></div>
  </div>
</div></div>

{% endblock %}