<!DOCTYPE html>
<html>
<head>
{% load static %}
{% load crispy_forms_tags %}
<title>Login to BnC game</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>

</head>
<body>
<div style="text-align:center;">
<div class="form_auth_block">
  <div class="form_auth_block_content">
    <p class="form_auth_block_head_text">Login to BnC game</p>
    <form class="form_auth_style" action="#" method="post">
	    {% csrf_token %}
	    <p>{{ form | crispy }}</p>
	    <button class="form_auth_button" type="submit">Log in</button>
    </form>
  </div>
</div>
    <br>
    <a href="{% url 'signup' %}">Create new user</a>
    <br>
    <a href="{% url 'reset_password' %}">Forgot password?</a>
</div>
<div class="center">
	<div class="container">
        <h6><p class="text-center">Copyright &copy; 2022 Bulls and Cows game by Eugene Dolgov</p></h6>
	</div>
</div>
<!-- Cookie Consent by TermsFeed https://www.TermsFeed.com -->
<script type="text/javascript" src="https://www.termsfeed.com/public/cookie-consent/4.0.0/cookie-consent.js" charset="UTF-8"></script>
<script type="text/javascript" charset="UTF-8">
document.addEventListener('DOMContentLoaded', function () {
cookieconsent.run({"notice_banner_type":"simple","consent_type":"implied","palette":"dark","language":"en",
    "page_load_consent_levels":["strictly-necessary","functionality","tracking","targeting"],
    "notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false,
    "page_refresh_confirmation_buttons":false});
});
</script>
</body>
</html>
