<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<tr>
    <th><label for="id_username">Username:</label></th>
    <td>
      
      <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
      <div class="invalid-feedback d-block" id="usernameError">This username is not available!</div>
      
    </td>
  </tr>

  <tr>
    <th><label for="id_password">Password:</label></th>
    <td>
      
      <input type="password" name="password" autocomplete="current-password" required id="id_password">
      
      
        
      
    </td>
  </tr>
</body>
</html>
