<nav class="navbar navbar-light bg-dark navbar-expand-sm">
    <button class="navbar-toggler bg-light" data-toggle="collapse" data-target="#navbar"><span class="navbar-toggler-icon"></span></button>
    <div id="navbar" class="collapse navbar-collapse justify-content-between">
        <ul class="navbar-nav" style="font-size: 14px !important;">
        {% if request.user.is_authenticated %}
            <li class="nav-item"><span class="nav-link text-light text-uppercase font-weight-bold px-3">Welcome, {{ request.user.first_name }}! <i class="material-icons cart-icon">account_circle</i></span></li>
            <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'home' %}">Home</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'home' %}">Login</a></li>
            {% endif %}
        {% if request.user.is_authenticated %}
                        {% if not request.user.game.game_started %}
            <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'settings' %}">Settings</a></li>
                        {% endif %}
            <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'fixture_list' %}">Fixture List</a></li>
            <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'edit' %}">Edit profile</a></li>
            <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'change_password' %}">Change password</a></li>
            {% if not request.user.game.game_started %}
                {% if request.user.username == 'admin' %}
                    <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3 disabled" href="{% url 'delete' %}">Delete profile</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'delete' %}">Delete profile</a></li>
                {% endif %}
            {% endif %}
        {% endif %}
             <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'about' %}">About</a></li>
         {% if request.user.is_authenticated %}
             <li class="nav-item"><a class="nav-link text-light text-uppercase font-weight-bold px-3" href="{% url 'signout' %}">Sign Out</a></li>
         {% endif %}
        </ul>
    </div>
</nav>

