{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
	Settings
{% endblock %}
{% block content %}

	<div class="container p-3">

  	 	<h2 id="upper_notice" class="font-weight-bold mt-4">Settings</h2>
		<hr>
		<p>Here you can customize the game:</p>
        <div class="row d-flex justify-content-left align-items-center h-100">
            <div class="col-3">
                <form id="settings_form" data-url="{% url 'settings' %}" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
                <div id="wait" class=" justify-content-center  text-center"><i>Wait...</i></div>
            </div>
        </div>
  	</div>
    <script type="text/javascript" src="{% static 'settings.js' %}"></script>
{% endblock %}
